<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AspNetPager" version="7.5.1.0" targetFramework="net47" />
  <package id="Aspose.Cells" version="20.1.0" targetFramework="net46" />
  <package id="EntityFramework" version="6.4.4" targetFramework="net47" />
  <package id="HtmlAgilityPack" version="1.11.46" targetFramework="net47" />
  <package id="Microsoft.AspNet.Mvc" version="4.0.40804.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.Razor" version="2.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.AspNet.WebPages" version="2.0.20710.0" targetFramework="net4" />
  <package id="Microsoft.Web.Infrastructure" version="1.0.0.0" targetFramework="net4" />
  <package id="Stub.System.Data.SQLite.Core.NetFramework" version="1.0.116.0" targetFramework="net47" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net47" />
  <package id="System.Data.SQLite" version="1.0.116.0" targetFramework="net47" />
  <package id="System.Data.SQLite.Core" version="1.0.116.0" targetFramework="net47" />
  <package id="System.Data.SQLite.EF6" version="1.0.116.0" targetFramework="net47" />
  <package id="System.Data.SQLite.Linq" version="1.0.116.0" targetFramework="net47" />
  <package id="System.Memory" version="4.5.4" targetFramework="net47" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net47" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0" targetFramework="net47" />
  <package id="System.Text.Encoding.CodePages" version="5.0.0" targetFramework="net46" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.2" targetFramework="net47" />
  <package id="UTF.Unknown" version="2.5.0" targetFramework="net46" />
</packages>