<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="" />
  </appSettings>
  <connectionStrings />
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <!--
            通过 <authentication> 节可以配置
            安全身份验证模式，ASP.NET
            使用该模式来识别来访用户身份。
        -->
    <authentication mode="Windows" />
    <!--
            如果在执行请求的过程中出现未处理的错误，
            则通过 <customErrors> 节
            可以配置相应的处理步骤。具体而言，
            开发人员通过该节可配置要显示的 html 错误页，
            以代替错误堆栈跟踪。

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <httpModules>
      <!--<add name="ErrorHttpModule" type="XCLNetTools.Message.Error.ErrorHttpModule"/>-->
    </httpModules>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
  </system.web>
  <!--
        system.webServer 节是在 Internet Information Services 7.0 下运行 ASP.NET AJAX
        所必需的。对早期版本的 IIS 来说则不需要此节。
    -->
  <system.webServer>
    <modules>
      <add name="ErrorHttpModule" type="XCLNetTools.Message.Error.ErrorHttpModule" />
    </modules>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Data.SQLite" publicKeyToken="db937bc2d44ff139" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.62.0" newVersion="1.0.62.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>