<?xml version="1.0" encoding="utf-8" ?>
<!--静态资源版本控制-->
<!--Version属性，建议在数据库中配置，而非固定在该配置文件中。-->
<StaticResourceConfig>
  <StaticResourceList>
    <StaticResource Type="CSS"  Name="base.css"  Src="/Resources/Css/base.css" Version="" Attr=""></StaticResource>

    <StaticResource Type="JS" Name="jqurey"  Src="/Resources/Js/Jquery/jquery-1.11.1.min.js" Version="" Attr=""></StaticResource>

    <StaticResource Type="CSS" Name="easyui_ico.css"  Src="/Resources/Js/EasyUI/themes/icon.css" Version="" Attr=""></StaticResource>
    <StaticResource Type="CSS" Name="easyui.css"  Src="/Resources/Js/EasyUI/themes/default/easyui.css" Version="" Attr=""></StaticResource>
    <StaticResource Type="JS" Name="easyui.js"  Src="/Resources/Js/EasyUI/jquery.easyui.min.js" Version="" Attr=""></StaticResource>

    <StaticResource Type="CSS" Name="artDialog.css"  Src="/Resources/Js/artDialog/skins/blue.css" Version="" Attr=""></StaticResource>
    <StaticResource Type="JS" Name="artDialog.js"  Src="/Resources/Js/artDialog/artDialog.js" Version="" Attr=""></StaticResource>
    <StaticResource Type="JS" Name="artDialog.iframeTools.js"  Src="/Resources/Js/artDialog/plugins/iframeTools.js" Version="" Attr=""></StaticResource>

    <StaticResource Type="JS" Name="table.js"  Src="/Resources/Js/table.js" Version="" Attr=""></StaticResource>
    <StaticResource Type="JS" Name="GoAjax.js"  Src="/Resources/Js/GoAjax.js" Version="" Attr=""></StaticResource>
    <StaticResource Type="JS" Name="XCLCMS.js"  Src="/Resources/Js/XCLCMS.js" Version="" Attr=""></StaticResource>

    <StaticResource Type="JS" Name="validate.js"  Src="/Resources/Js/validate/jquery.validate.js" Version="" Attr=""></StaticResource>
    <StaticResource Type="JS" Name="XCLValidatorMethod.js"  Src="/Resources/Js/validate/XCLValidatorMethod.js" Version="" Attr=""></StaticResource>

    <StaticResource Type="JS" Name="metadata.js"  Src="/Resources/Js/jquery.metadata.js" Version="" Attr=""></StaticResource>

    <StaticResource Type="JS" Name="readmore.js"  Src="/Resources/Js/readmore.js" Version="" Attr=""></StaticResource>

    <StaticResource Type="JS" Name="WdatePicker.js"  Src="/Resources/Js/WdatePicker/WdatePicker.js" Version="" Attr=""></StaticResource>

    <StaticResource Type="JS" Name="dynamicCon.js"  Src="/Resources/Js/dynamicCon.js" Version="" Attr=""></StaticResource>

    <StaticResource Type="JS" Name="XCLJsTool.js"  Src="/Resources/Js/XCLJsTool.js" Version="" Attr=""></StaticResource>
  </StaticResourceList>
</StaticResourceConfig>